spawn-at-startup "/home/ahmed/.nix-profile/bin/swaync"
spawn-at-startup "/home/ahmed/.cargo/bin/awww-daemon"
spawn-at-startup "/home/ahmed/.cargo/bin/awww" "img" "/home/ahmed/.local/bin/image-picker.sh /home/ahmed/Pictures/Wallpapers/"
spawn-sh-at-startup "/home/ahmed/.local/bin/bt-notifier-dbus.sh"
