spawn-at-startup "/home/xann/.nix-profile/bin/swaync"
spawn-at-startup "/usr/bin/awww-daemon"
spawn-at-startup "/usr/bin/awww" "img" "/home/xann/.local/bin/pick-next.sh /home/xann/Pictures/Wallpapers/"
spawn-sh-at-startup "/home/xann/.local/bin/bt-notifier-dbus.sh"
