[Unit]
Description=Clipboard history (image)
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type image --watch cliphist store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
