@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

window#waybar.empty #window {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* you can set a style on hover for any module like this */
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    padding: 5px 1rem;
    background-color: @surface0;
    margin-left: 1rem;
    margin-right: 1rem;
}

#workspaces button {
    padding: 0.4rem;
    color: @lavender;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
    box-shadow: inherit;
}

#workspaces button.active {
    border-radius: 1rem;
    color: @sky;
}

#workspaces button.urgent {
    color: @red;
    border-radius: 1rem;
}

#window {
    border-radius: 1rem;
    margin: 5px;
    padding: 5px 1rem;
    background-color: @surface0;
    margin-left: 1rem;
    margin-right: 1rem;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

.modules-right > widget > * {
    background-color: @surface0;
    padding: 0.2rem 1rem;
    margin: 5px 0;
}

.modules-right > widget:first-child > * {
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 1rem;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @blue;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

#clock:hover {
    background-color: @blue;
    color: @surface0;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery:hover, #battery.charging:hover, #battery.plugged:hover {
    background-color: @green;
    color: @surface0;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.warning:not(.charging):hover {
    background-color: @yellow;
    color: @surface0;
}

@keyframes blink {
    to {
        background-color: @rosewater;
        color: @crust;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#cpu {
    color: @blue;
}

#cpu:hover {
    background-color: @blue;
    color: @surface0;
}

#memory {
    color: @mauve;
}

#memory:hover {
    background-color: @mauve;
    color: @surface0;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    color: @teal;
    border-radius: 0;
}

#pulseaudio:hover {
    background-color: @teal;
    color: @surface0;
}

#pulseaudio.muted {
    color: @maroon;
}

#pulseaudio.muted:hover {
    background-color: @maroon;
    color: @surface0;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    color: @mauve;
    border-radius: 0;
}

#custom-media:hover {
    background-color: @mauve;
    color: @surface0;
}

#custom-media.custom-spotify {
    color: #66cc99;
}

#custom-media.custom-spotify:hover {
    background-color: #66cc99;
    color: @surface0;
}

#custom-media.custom-vlc {
    color: #ffa000;
}

#custom-media.custom-vlc:hover {
    background-color: #ffa000;
    color: @surface0;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    color: @teal;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    color: @text;
    padding: 1rem 1.5rem 1rem 1rem;
}

#idle_inhibitor:hover {
    background-color: @text;
    color: @surface0;
}

#idle_inhibitor.activated {
    background-color: @lavender;
    color: @crust;
}

#idle_inhibitor.activated:hover {
    color: @lavender;
    background-color: @crust;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
